@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
html,body{
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	padding:0;
	margin: 0;
}
nav{
	padding-top: 1em;
	width: 100%;
	text-align: center;
}
p{
	color:red;
}
#cont-form{
	padding-top: 3em;
	width: 80%;
	margin: 0.5em auto;
}
#form-index{
	width: 30%;
	margin: 0.5em auto;
	text-align: center;
}
#btn-entrar{
	width: 50%;
	margin: 0.5em auto;
}
